<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Thông tin chi tiết về miếng đất</h2>
<p><strong>ID:</strong> <span th:text="${assetRegistration.documentId}"></span></p>
<p><strong>Tỉnh/Thành phố:</strong> <span th:text="${assetRegistration.getLand().province}"></span></p>
<p><strong>Quận/Huyện:</strong> <span th:text="${assetRegistration.getLand().district}"></span></p>
<p><strong>Phường/Xã:</strong> <span th:text="${assetRegistration.getLand().ward}"></span></p>
<p><strong>Diện tích:</strong> <span th:text="${assetRegistration.getLand().square}"></span></p>
<p><strong>Giá:</strong> <span th:text="${assetRegistration.getLand().price}"></span></p>
<p><strong>Chủ sở hữu:</strong> <span th:text="${assetRegistration.getLand().getUser().firstName + ' ' + assetRegistration.getLand().getUser().lastName}"></span></p>
<p><strong>Trạng thái:</strong> <span th:text="${assetRegistration.getStatus().name}"></span></p>
<p><strong>Ảnh minh hoa:</strong>
    <img th:src="@{'/Land_images/' + ${assetRegistration.getLand().images.get(0).imageUrl}}" alt="Land" width="100"/>
</p>
</body>
</html>