<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataTable - Mazer Admin Dashboard</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstraps.css">

    <link rel="stylesheet" href="/assets/vendors/simple-datatables/style.css">

    <link rel="stylesheet" href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
<div id="app">
    <div id="sidebar" class="active">
        <div class="sidebar-wrapper">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div class="logo">
                        <a href="#"><img style="height: 150px; width: 200px;padding-left: 40px;" src="/images/img.png" alt="Logo" srcset=""></a>
                    </div>
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <div class="menu">
                    <li class="sidebar-title">Menu</li>

                    <li class="sidebar-item ">
                        <a th:href="@{/staff}" class='sidebar-link'>
                            <i class="bi bi-grid-fill"></i>
                            <span>Trang chính</span>
                        </a>
                    </li>

                    <li class="sidebar-item ">
                        <a th:href="@{/staff/showAuctionResults}" class='sidebar-link'>
                            <span>Theo dõi đấu giá</span>
                        </a>
                    </li>
                    <li class="sidebar-item active has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-collection-fill"></i>
                            <span>Hồ sơ đất đai</span>
                        </a>
                        <ul class="submenu">
                            <li class="submenu-item">
                                <a th:href="@{/staff/waiting-list}">Chờ xác nhận</a>
                            </li>
                            <li class="submenu-item">
                                <a th:href="@{/staff/ongoing-list}">Đã xác nhận</a>
                            </li>
                            <li class="submenu-item ">
                                <a th:href="@{/staff/cancel-list}">Đã bị hủy</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-person-circle"></i>
                            <span>Tài khoản</span>
                        </a>
                        <ul class="submenu">
                            <li class="submenu-item">
                                <a th:href="@{/staff/profile}">Thông tin cá nhân</a>
                            </li>
                            <li class="submenu-item ">
                                <a th:href="@{/logout}" class="submenu-item">
                                    <i class="bi bi-box-arrow-right"></i>
                                    <span>Đăng xuất</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>Hồ sơ đăng kí tài sản đấu giá</h3>
                        <p class="text-subtitle text-muted">Hồ sơ phải được xét duyệt tối thiểu 5 ngày</p>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">

                        </nav>
                    </div>
                </div>
            </div>

            <section class="section">
                <div class="card">
                    <div class="card-header">
                        Hồ sơ đất mới nhất
                    </div>
                    <div class="card-body">
                        <table class="table table-striped" id="table1">
                            <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên miếng đất</th>
                                <th>Diện tích</th>
                                <th>Chủ sở hữu</th>
                                <th>Giá khởi điểm</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tbody>
                        <tr th:each="item2, iterStat : ${allAssets}"
                            th:onclick="|window.location.href='/asset-request/land-detail/' + ${item2.getLand().landId}|"
                            style="cursor: pointer;">
                            <td><span th:text="${iterStat.count}"></span></td>
                            <td>
                                <span th:text="${item2.land.name}"></span>
                            </td>
                            <td><span th:text="${item2.getLand().square}"></span></td>
                            <td><span th:text="${item2.getLand().user.firstName + ' ' + item2.getLand().user.lastName}"></span></td>
                            <td><span th:text="${item2.getLand().price}"></span></td>
                            <td><span th:text="${item2.getStatus().name}"></span></td>
                        </tr>

                        </tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script src="/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>

<script src="/assets/vendors/simple-datatables/simple-datatables.js"></script>
<script>
    // Simple Datatable
    // let table1 = document.querySelector('#table1');
    // let dataTable = new simpleDatatables.DataTable(table1);
</script>

<script src="/assets/js/main.js"></script>
</body>

</html>