<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Account</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/bootstraps.css">
  <link rel="stylesheet" href="/assets/vendors/iconly/bold.css">
  <link rel="stylesheet" href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
  <link rel="stylesheet" href="/assets/vendors/bootstrap-icons/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="/assets/css/app.css">
  <link rel="shortcut icon" href="/assets/images/favicon.svg" type="image/x-icon">
</head>

<body>
<div id="app">
  <div id="sidebar" class="active">
    <div class="sidebar-wrapper active">
      <div class="sidebar-header">
        <div class="d-flex justify-content-between">
          <div class="logo">
            <a href="/dashboard"><img style="height: 150px; width: 200px;padding-left: 40px;" src="/images/img.png" alt="Logo" srcset=""></a>
          </div>
          <div class="toggler">
            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
          </div>
        </div>
      </div>
      <div class="sidebar-menu">
        <ul class="menu">
          <li class="sidebar-item">
            <a href="/dashboard" class='sidebar-link'>
              <i class="bi bi-grid-fill"></i>
              <span>Trang thống kê</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a href="/management" class='sidebar-link'>
              <i class="bi bi-file-earmark-spreadsheet-fill"></i>
              <span>Quản lý tài khoản</span>
            </a>
          </li>
          <li class="sidebar-item ">
            <a href="/request-account" class='sidebar-link'>
              <i class="bi bi-file-earmark-spreadsheet-fill"></i>
              <span>Xác thực tài khoản khách hàng</span>
            </a>
          </li>
          <li class="sidebar-item  ">
            <a href="/create-account" class='sidebar-link'>
              <i class="bi bi-file-earmark-spreadsheet-fill"></i>
              <span>Tạo tài khoản nhân viên</span>
            </a>
          </li>
          <li class="sidebar-item has-sub active" >
            <a href="#" class="sidebar-link">
              <i class="bi bi-person-badge-fill"></i>
              <span>Bảo mật</span>
            </a>

            <ul class="submenu">
              <li class="submenu-item">
                <a href="/adminChangePassword">
                  <i class="bi bi-key-fill"></i>
                  <span>Đổi mật khẩu</span>
                </a>
              </li>
              <li class="submenu-item">
                <a href="/logout">
                  <i class="bi bi-box-arrow-right"></i>
                  <span>Đăng xuất</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
  </div>

  <div id="main">
    <header class="mb-3">
      <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
      </a>
    </header>

    <!-- Form to Create Account -->
    <div class="container mt-5">
      <h2>Tạo tài khoản nhân viên</h2>
      <form th:action="@{/adminChangePassword}" method="post">
        <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
        <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>

        <div class="mb-3">
          <label for="currentPassword" class="form-label">Mật khẩu hiện tại</label>
          <input type="password" id="currentPassword" name="currentPassword" class="form-control" required>
        </div>

        <div class="mb-3">
          <label for="newPassword" class="form-label">Mật khẩu mới</label>
          <input type="password" id="newPassword" name="newPassword" class="form-control">
        </div>

        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Xác nhận mật khẩu</label>
          <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
      </form>
    </div>
  </div>
</div>

<script src="/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendors/apexcharts/apexcharts.js"></script>
<script src="/assets/js/pages/dashboard.js"></script>
<script src="/assets/js/main.js"></script>
</body>
</html>
