<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Account</title>
</head>
<body>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th>Email</th>
    <th>Role</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${users}">
    <td th:text="${user.userId}"></td>
    <td th:text="${user.userName}"></td>
    <td th:text="${user.email}"></td>
    <td th:text="${user.role.roleName}"></td>
    <td th:text="${user.status.statusName}"></td>
    <td>
      <a th:href="@{/admin/updateUser/{id}(id=${user.userId})}">Edit</a>
      <form th:action="@{/admin/banUser/{id}(id=${user.userId})}" method="post" style="display: inline;">
        <button type="submit" th:disabled="${user.status.statusID == 3}">Ban</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>