<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News List</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>List of News</h2>
        <p>
            <a class="btn btn-primary" th:href="@{/news/new}">Add News</a>
        </p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>News ID</th>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Image</th>
<!--                    <th>User</th>-->
                    <th>Time</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${LIST_NEWS}">
                    <td th:text="${item.newsId}"></td> 
                    <td th:text="${item.title}"></td> 
                    <td th:text="${item.content}"></td> 
                    <td width="100">
<!--                        <img th:src="@{'news-image/' + ${item.image}}" alt="" width="80" height="70">-->
                        <img th:src="${'data:image/png;base64,' + item.image}" alt="" width="80" height="70">


                    </td>
<!--                    <td th:text="${item.users.name}"></td>-->
                    <td th:text="${#dates.format(item.time, 'yyyy-MM-dd')}"></td> 
                    <td>
                        <a class="btn btn-primary btn-sm" th:href="@{/news/new(id=${item.newsId})}">Edit</a>|
                        <a class="btn btn-danger btn-sm" href="javascript:void(0);"
                           th:onclick="'deleteNews(' + ${item.newsId} + ')'">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
<script>
    function deleteNews(id) {
        if (confirm('Are you sure you want to delete this news?')) {
            fetch(`/news/${id}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                .then(response => {
                    if (response.ok) {
                        alert('News deleted successfully.');
                        // Redirect hoặc cập nhật lại trang danh sách sau khi xóa
                        window.location.href = '/news/newslist';
                    } else {
                        alert('Failed to delete news.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred while trying to delete the news.');
                });
        }
    }
</script>
</body>
</html>
