<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstraps.css">

    <link rel="stylesheet" href="/assets/vendors/simple-datatables/style.css">

    <link rel="stylesheet" href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.css" rel="stylesheet">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.js"></script>
</head>
<body>

<div class="main-panel">
    <!-- End Top Navbar -->
    <div class="content" style="padding-top: 30px;">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-user">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-user">
                                    <div class="card-header">
                                    </div>
                                    <div class="card-body">
                                        <form th:action="@{/customer-care/add}" th:method="post" >
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="title"></label>
                                                        <input type="text"  id="title"
                                                               class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="content">Nội dung</label>
                                                        <textarea id="content"
                                                                  class="form-control"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div>
                                                        <label for="images">Chọn ảnh nền</label>
                                                        <input type="file" name="images" id="images" class="form-control"
                                                               required
                                                               accept="image/png, image/jpeg, image/jpg, image/gif">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="update ml-auto mr-auto">
                                                    <button type="submit" class="btn btn-primary btn-round">Lưu</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        <!-- script cho richtext-->
        $('#content').summernote({
            height: 300, // Chiều cao của editor
            tabsize: 2,
            placeholder: 'Enter content here...',
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'italic', 'underline', 'clear']],
                ['fontname', ['fontname']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['fullscreen', 'codeview', 'help']]
            ]
        });
    });
</script>
<!--Kiểm tra tỷ lệ khung ảnh-->
<script>
    document.getElementById('images').addEventListener('change', function(event) {
        const file = event.target.files[0];

        if (file) {
            const img = new Image();
            const reader = new FileReader();

            reader.onload = function(e) {
                img.src = e.target.result;

                img.onload = function() {
                    const width = img.width;
                    const height = img.height;

                    // Kiểm tra xem ảnh có chiều rộng lớn hơn chiều cao không
                    if (width < height) {
                        alert('Image size is incorrect. Please use a rectangular image (width must be equal to or greater than height).');
                        // Reset input nếu không đúng tỷ lệ
                        event.target.value = '';
                    }
                };
            };
            reader.readAsDataURL(file);
        }
    });
</script>

<script src="/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>

<script src="/assets/vendors/apexcharts/apexcharts.js"></script>
<script src="/assets/js/pages/dashboard.js"></script>

<script src="/assets/js/main.js"></script>
<script src="/assets/vendors/apexcharts/apexcharts.js"></script>
</script>
</body>
</html>